# Crash log files
crash.log
crash.*.log

# Ignore RSA keys 
*.cer
*.pem
*.ppk

# Ignore Vagrant Log Files
*.vagrant

# Ignore downloaded files
Sysmon.zip
sra-vectr-runtime-8.8.1-ce.zip
*.msi
*.deb
*.xml
docker-compose